# Lab | Making predictions with logistic regression

In [9]:
import pymysql
from sqlalchemy import create_engine
import seaborn as sns
import pandas as pd
import numpy as np
import re

from sklearn import neighbors
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import OneHotEncoder
from getpass import getpass

#### 1. Create a query or queries to extract the information you think may be relevant for building the prediction model. It should include some film features and some rental features. Use the data from 2005. 
#### 2. Create a query to get the list of films and a boolean indicating if it was rented last month (August 2005). This would be our target variable.
#### 3. Read the data into a Pandas dataframe.

In [10]:
password = getpass()
#Connection to MySQL
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [49]:
# EXTRACTING DATA FROM DATABASE
query = '''
SELECT cat.name as category,f.film_id,f.title,f.release_year,f.language_id,f.rental_duration,f.rental_rate,f.length,f.rating,f.special_features,COUNT(rental_date) as times_rented
FROM film f INNER JOIN inventory i USING(film_id) LEFT JOIN
(SELECT *
FROM rental r
WHERE left(r.rental_date,7) = "2005-05") r USING(inventory_id)
INNER JOIN film_category fc USING(film_id)
INNER JOIN category cat USING(category_id)
GROUP BY film_id,cat.name
'''
# Creating target column
data = pd.read_sql_query(query, engine)
data['may_rented'] = data['times_rented'].apply(lambda x: 1 if x>0 else 0)
# I drop 'times_rented' now because it's basically the same as august_rented
data=data.drop(['times_rented'],axis=1)
data

,category,film_id,title,release_year,language_id,rental_duration,rental_rate,length,rating,special_features,may_rented
0,Action,19,AMADEUS HOLY,2006,1,6,0.99,113,PG,"Commentaries,Deleted Scenes,Behind the Scenes",1
1,Action,21,AMERICAN CIRCUS,2006,1,3,4.99,129,R,"Commentaries,Behind the Scenes",1
2,Action,29,ANTITRUST TOMATOES,2006,1,5,2.99,168,NC-17,"Trailers,Commentaries,Deleted Scenes",1
3,Action,56,BAREFOOT MANCHURIAN,2006,1,6,2.99,129,G,"Trailers,Commentaries",1
4,Action,67,BERETS AGENT,2006,1,5,2.99,77,PG-13,Deleted Scenes,1
...,...,...,...,...,...,...,...,...,...,...,...
953,Travel,931,VALENTINE VANISHING,2006,1,7,0.99,48,PG-13,"Trailers,Behind the Scenes",1
954,Travel,977,WINDOW SIDE,2006,1,3,2.99,85,R,"Deleted Scenes,Behind the Scenes",0
955,Travel,981,WOLVES DESIRE,2006,1,7,0.99,55,NC-17,Behind the Scenes,0
956,Travel,988,WORKER TARZAN,2006,1,7,2.99,139,R,"Trailers,Commentaries,Behind the Scenes",0
957,Travel,989,WORKING MICROCOSMOS,2006,1,4,4.99,74,R,"Commentaries,Deleted Scenes",1

In [50]:
# I now want to onehot the special features(but I can't use the onehot function because it
# wouldnt really work.

# I first take the unique combination of special features:
sf_list = data['special_features'].unique()

# Now I will create a list with each unique special feature. 
sf_unique = []
for case in sf_list:
    # I get a list of features that are separated by commas with regex
    list_of_features = re.findall("[^,]+",case) 
    # and itereate through them
    for feature in list_of_features:
        if feature in sf_unique:
            pass
        else:
            sf_unique.append(feature)

# Now I have the individual unique special features. I iterate through each of them
# to create a new column that is 1 if the feature is contained in "special_features" or 0 otherwise.
for feature in sf_unique:
    data[feature] = data['special_features'].apply(lambda x: 1 if feature in x else 0)

data = data.drop(['special_features'],axis=1)
data.head()

,category,film_id,title,release_year,language_id,rental_duration,rental_rate,length,rating,may_rented,Commentaries,Deleted Scenes,Behind the Scenes,Trailers
0,Action,19,AMADEUS HOLY,2006,1,6,0.99,113,PG,1,1,1,1,0
1,Action,21,AMERICAN CIRCUS,2006,1,3,4.99,129,R,1,1,0,1,0
2,Action,29,ANTITRUST TOMATOES,2006,1,5,2.99,168,NC-17,1,1,1,0,1
3,Action,56,BAREFOOT MANCHURIAN,2006,1,6,2.99,129,G,1,1,0,0,1
4,Action,67,BERETS AGENT,2006,1,5,2.99,77,PG-13,1,0,1,0,0

In [51]:
# I will drop film_id,title, language_id and 'release_year' because they either
# are unique identificators or only have 1 category (in both cases they're not useful)
y = data['may_rented']
X = data.drop(['may_rented','film_id','title','language_id','release_year'],axis=1)
data.head()

,category,film_id,title,release_year,language_id,rental_duration,rental_rate,length,rating,may_rented,Commentaries,Deleted Scenes,Behind the Scenes,Trailers
0,Action,19,AMADEUS HOLY,2006,1,6,0.99,113,PG,1,1,1,1,0
1,Action,21,AMERICAN CIRCUS,2006,1,3,4.99,129,R,1,1,0,1,0
2,Action,29,ANTITRUST TOMATOES,2006,1,5,2.99,168,NC-17,1,1,1,0,1
3,Action,56,BAREFOOT MANCHURIAN,2006,1,6,2.99,129,G,1,1,0,0,1
4,Action,67,BERETS AGENT,2006,1,5,2.99,77,PG-13,1,0,1,0,0

In [52]:
# TRAIN-TEST Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=55)

#### 4. Analyze extracted features and transform them. You may need to encode some categorical variables, or scale numerical variables.

In [53]:
# Splitting cat and num data
X_train_num = X_train.select_dtypes(np.number)
X_train_cat = X_train.select_dtypes(object)

# Normalizing Train data (the encoded special features won't get affected because their range
# already is 1-0)
transformer = MinMaxScaler().fit(X_train_num)
X_train_nom = transformer.transform(X_train_num)
X_train_nom = pd.DataFrame(X_train_nom, columns=X_train_num.columns)
display(X_train_nom)
# One hot encode Train data
encoder = OneHotEncoder(drop='first').fit(X_train_cat)
encoded = encoder.transform(X_train_cat).toarray()
onehot_encoded = pd.DataFrame(encoded,columns=encoder.get_feature_names_out(X_train_cat.columns))
display(onehot_encoded)

,rental_duration,rental_rate,length,Commentaries,Deleted Scenes,Behind the Scenes,Trailers
0,0.75,0.5,0.107914,1.0,0.0,1.0,1.0
1,0.00,0.0,0.949640,0.0,1.0,1.0,0.0
2,0.75,0.0,0.050360,1.0,1.0,0.0,0.0
3,1.00,0.5,0.669065,1.0,0.0,1.0,1.0
4,0.25,0.5,0.992806,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...
761,0.75,0.0,0.992806,0.0,1.0,0.0,1.0
762,0.50,0.0,0.791367,0.0,1.0,0.0,1.0
763,0.25,0.0,0.733813,1.0,0.0,0.0,1.0
764,0.50,0.0,0.482014,1.0,1.0,0.0,1.0
765,1.00,1.0,0.330935,0.0,1.0,0.0,0.0

,category_Animation,category_Children,category_Classics,category_Comedy,category_Documentary,category_Drama,category_Family,category_Foreign,category_Games,category_Horror,category_Music,category_New,category_Sci-Fi,category_Sports,category_Travel,rating_NC-17,rating_PG,rating_PG-13,rating_R
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
763,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
765,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

#### 5. Create a logistic regression model to predict this variable from the cleaned data.
#### 6. Evaluate the results.

In [54]:
# I see that my numerical variables have an awful correlation so I don't need to take any of them out.
# sns.heatmap(X_train_nom.corr(), annot=True)

# I concatenate back the data
X_train_ready = pd.concat([X_train_nom,onehot_encoded],axis=1)

# And train the model with logistics
classification = LogisticRegression(random_state=0, solver='lbfgs', multi_class='ovr')
classification.fit(X_train_ready, y_train)
predictions = classification.predict(X_train_ready)
print('Logistics returns a model with R2 = %.2f.' %classification.score(X_train_ready, y_train))

# With KNN
ngb = 5
clf = neighbors.KNeighborsClassifier(n_neighbors=ngb, weights='uniform')
clf.fit(X_train_ready, y_train)
predictions_clf = clf.predict(X_train_ready)
print('KNN with %i neighbors returns a model with R2 = %.2f.' %(ngb,clf.score(X_train_ready, y_train)))

# ------------------------- 6. Evaluating model with test sample ------------------------

# Splitting cat and num data
X_test_num = X_test.select_dtypes(np.number)
X_test_cat = X_test.select_dtypes(object)

# Normalizing Train data
# transformer = MinMaxScaler().fit(X_train_num)
X_test_nom = transformer.transform(X_test_num)
X_test_nom = pd.DataFrame(X_test_nom, columns=X_test_num.columns)

# One hot encode Train data
# encoder = OneHotEncoder(drop='first').fit(X_train_cat)
encoded = encoder.transform(X_test_cat).toarray()
onehot_encoded_test = pd.DataFrame(encoded,columns=encoder.get_feature_names_out(X_train_cat.columns))

# I concatenate back the data
X_test_ready = pd.concat([X_test_nom,onehot_encoded_test],axis=1)

print('\nTesting the models:')
# And predict with logistics
predictions_test = classification.predict(X_test_ready)
print('Logistics predictions have a accuracy = %.2f.' %classification.score(X_test_ready, y_test))

# Now with KNN
predictions_clf_test = clf.predict(X_test_ready)
print('KNN with %i neighbors predictions has accuracy = %.2f.' %(ngb,clf.score(X_test_ready, y_test)))

Logistics returns a model with R2 = 0.72.
KNN with 5 neighbors returns a model with R2 = 0.76.

Testing the models:
Logistics predictions have a accuracy = 0.70.
KNN with 5 neighbors predictions has accuracy = 0.65.

##### Trying it with June (selecting now data from June and copying all the code I use to transform May but now applied to June (however the transformer and the models stay the same as in May))

In [55]:
# EXTRACTING DATA FROM DATABASE
query = '''
SELECT cat.name as category,f.rental_duration,f.rental_rate,f.length,f.rating,f.special_features,COUNT(rental_date) as times_rented
FROM film f INNER JOIN inventory i USING(film_id) LEFT JOIN
(SELECT *
FROM rental r
WHERE left(r.rental_date,7) = "2005-06") r USING(inventory_id)
INNER JOIN film_category fc USING(film_id)
INNER JOIN category cat USING(category_id)
GROUP BY film_id,cat.name
'''
# Creating target column
june = pd.read_sql_query(query, engine)
june['june_rented'] = june['times_rented'].apply(lambda x: 1 if x>0 else 0)
# I drop 'times_rented' now because it's basically the same as august_rented
june=june.drop(['times_rented'],axis=1)

for feature in sf_unique:
    june[feature] = june['special_features'].apply(lambda x: 1 if feature in x else 0)

june = june.drop(['special_features'],axis=1)

In [56]:
# I will drop film_id,title, language_id and 'release_year' because they either
# are unique identificators or only have 1 category (in both cases they're not useful)
june_y = june['june_rented']
june_X = june.drop(['june_rented'],axis=1)

# Splitting cat and num data
june_X_num = june_X.select_dtypes(np.number)
june_X_cat = june_X.select_dtypes(object)

# Normalizing Train data (the encoded special features won't get affected because their range
# already is 1-0)
#transformer = MinMaxScaler().fit(X_train_num)
june_X_nom = transformer.transform(june_X_num)
june_X_nom = pd.DataFrame(june_X_nom, columns=june_X_num.columns)

# One hot encode Train data
#encoder = OneHotEncoder(drop='first').fit(X_train_cat)
encoded = encoder.transform(june_X_cat).toarray()
onehot_encoded = pd.DataFrame(encoded,columns=encoder.get_feature_names_out(june_X_cat.columns))

# I concatenate back the data
june_X_ready = pd.concat([june_X_nom,onehot_encoded],axis=1)

# And train the model with logistics
predictions = classification.predict(june_X_ready)
print('Logistics predicts june with accuracy = %.2f.' %classification.score(june_X_ready, june_y))

# With KNN
predictions_clf = clf.predict(june_X_ready)
print('KNN with %i neighbors predicts with accuracy = %.2f.' %(ngb,clf.score(june_X_ready, june_y)))

Logistics predicts june with accuracy = 0.93.
KNN with 5 neighbors predicts with accuracy = 0.86.

In [57]:
# I find it very weird that my accuracy is higher for June than May itself.